* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.warpper {
    display: flex;
    padding: 25px;
}

ul {
    display: flex;
    gap: 24px;
    margin-left: 200px;
    margin-top: 10px;

}

li {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    list-style: none;



}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.foto {
    position: absolute;
    width: 1518px;
    height: 1156;
    z-index: -1;
}

.box {
    display: flex;
    color: #FFFFFF;
    margin-left: 173px;
    gap: 8px;


}

.box_text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.head_text {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    text-align: left;
    color: #FFFFFF;
    text-align: center;
    margin-top: 150px;



}

.head_btn {
    width: 272px;
    height: 72px;
    border-radius: 12px;
    background: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #7B61FF;
    text-align: center;
    margin-left: 630px;
    margin-top: 32px;
    border-color: #7B61FF;
}

.head_btn:hover {
    background-color: #7B61FF;
    color: #FFFFFF;
    cursor: pointer;

}

.boxs {
    position: absolute;
    width: 1100px;
    height: 86px;
    padding: 8px 0px 0px 0px;
    gap: 34px;
    border-radius: 12px;
    opacity: 0px;
    background: #FFFFFF;
    z-index: 1;
    display: flex;
    justify-content: center;
    left: 250px;
    top: 500px;
}

.head_btn2 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #7B61FF;
    border-radius: 12px;
    background: #7B61FF;


}


.boxes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section_text {
    color: rgb(22, 20, 20);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 250px;

}

.cards {
    display: flex;
    gap: 10px;
    margin-top: 100px;
}

h4 {
    color: rgb(22, 20, 20);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.mini_text {
    color: rgb(151, 151, 151);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.cards_btn {

    width: 105px;
    height: 40px;
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 10px;
    flex: none;
    gap: 5px;
    border-radius: 12px;
    border-color: #7B61FF;
    background: rgb(246, 244, 255);
}

.cards_btn:hover{
    background-color: #7B61FF;
    color: white;
}